
div.demo-card-square.mdl-card {
    width: 320px;
    height: 400px;
}
div.demo-card-square > .mdl-card__title {
    color: #000;
}
div.demo-card-event > .mdl-card__title > h4 {
    margin-top: 0;
}


#map { height: 50%; }

table.full-width{
    width: 100%;
}